<div class="row"> 
  <div class="span9">
    <div class="pull-right">
      <div id="new_pm_button">
        <%= link_to 'New Private Message', new_user_control_panel_message_path, :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>