<%= simple_form_for [@discussion, @post], :html => { :class => 'form' } do |f| %>
  <%= f.input :body, :input_html => {:class => 'span12'} %>
  <div class="form-actions">
    <%= f.submit 'Post Reply', :class => 'btn btn-primary' %>
  </div>
<% end %>