<%= simple_form_for [@discussion, @post], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :body, :input_html => {:class => 'span9'} %>
  <div class="form-actions">
    <%= f.submit 'Post Reply', :class => 'btn-primary' %>
  </div>
<% end %>