<div class="page-header"><h1 id="discussion_title"><%= @discussion.title %></h1></div>

<ul>
  <% @discussion.posts.each do |post| %>
    <%= content_tag_for(:li, post) do %>
      <%= post.body %>
    <% end %>
  <% end %>
</ul>