<div class="page-object"><h1><%= @post.title %></h1></div>

<strong>Title:</strong>
<p><%= @post.title %></p>

<strong>Body:</strong>
<p><%= @post.body %></p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              forum_posts_path(@forum), :class => 'btn'  %>
</div>
