// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-header {
  font-size: .9em;
  border-bottom: 1px #000 dotted;
  padding-right: 10px;
  padding-left: 10px;
}
.post-body {
  padding: 10px;
}
#new_pm_button {
  padding-top: 10px;
  padding-bottom: 10px;
}